.dashboard-body{
   max-width: 800px;
   min-width: 300px;
   min-height: 70vh ;
}
.no-decor{
    text-decoration: none;
    color: black;
   cursor: pointer;
}


input, textarea{
    border-bottom: 1px solid rgba(0, 0, 0, 0.267) !important;
}





