@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.card-login{
  width: 500px;
}
  
  @media (max-width: 767px) {
    .card-login{
        width: 400px !important;
      }
  }
  
  
  @media (max-width: 991px) {
    
  }
  
  
  @media (min-width: 992px) {
    
  }
  
  
  